# build output
_build
docs
*.aux
*.vo
*.glob
*.d
*.vos
*.vok
.lia.cache

# make-related output
Makefile.coq
Makefile.coq.conf

# reification plugin
*.cmi
*.cmx
*.cmxs
*.o
*.a
*.cmxa
src/reification.ml
src/.merlin
src/META.coq-atbr
